@use "base";

/* use a hand cursor intead of arrow for the action buttons */
.filepond--file-action-button {
  cursor: pointer;
}

/* the text color of the drop label*/
.filepond--drop-label {
  color: #ffffff!important;
}

/* underline color for "Browse" button */
.filepond--label-action {
  text-decoration-color: base.$baseColor!important;
}

/* the background color of the filepond drop area */
.filepond--panel-root {
  background-color: #242424!important;
}

/* the border radius of the drop area */
.filepond--panel-root {
  border-radius: 0.5em;
}

/* the border radius of the file item */
.filepond--item-panel {
  border-radius: 0.5em;
}

/* the background color of the file and file panel (used when dropping an image) */
.filepond--item-panel {
  background-color: #555;
}

/* the background color of the drop circle */
.filepond--drip-blob {
  background-color: #999;
}

/* the background color of the black action buttons */
.filepond--file-action-button {
  background-color: rgba(0, 0, 0, 0.5);
}

/* the icon color of the black action buttons */
.filepond--file-action-button {
  color: white;
}

/* the color of the focus ring */
.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
}

/* the text color of the file status and info labels */
.filepond--file {
  color: white;
}

/* error state color */
[data-filepond-item-state*='error'] .filepond--item-panel,
[data-filepond-item-state*='invalid'] .filepond--item-panel {
  background-color: red;
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
  background-color: green;
}

/* bordered drop area */
.filepond--panel-root {
  background-color: transparent;
  border: 2px solid #2c3340;
}
#containerBody{

  display: flex;
  flex-direction: column;

}
#questionCounterInput, #questionResponseInput{
  min-width: 20%;
  max-width: 30vw;
}
.hidden{
  display: none;
}
.box{
  opacity: 0;
  transition: all ease-in-out .5s;
}

#questionDetailsContainerBack{
  z-index: 2;

  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;


  #questionDetailsContainer{
    margin: 10%;
    flex: 1;
    height: 80%;
    background-color: #404040;
    border-radius: 5px;
    padding: 1%;
    border: solid 5px #2e2e2e;

    display: flex;
    flex-direction: column;
    .row{
      display: flex;
      flex-direction: row;
    }
    .col{
      display: flex;
      flex-direction: column;
    }
    .rowSpace{
      margin: 5px;
    }
    .rowSeparator{
      border-bottom: solid 1px white;
      margin-bottom: 10px;
      margin-top: 10px;
      &[class*="separatorBlack"]{

        border-color: #242424;

      }
    }
    #questionDetailsTitleEdit, #questionDetailsCounterEdit, #questionDetailsResponseEdit{
      display: none;
    }
    #stopQuiz{
      display: none;
    }
    #activateQuiz{
      display: none;
    }
    #acceptParam{
    }
  }
}
